.gallery {
  &-content {
    display: flex;

    .icon {
      background-color: var(--app-text);
      width: 65px;
      height: 65px;
      margin: auto 0;
      cursor: pointer;
      font-size: 30px;
    
      &:hover {
        opacity: 75%;
      }
    }
    
    .prev {
      transform: rotate(180deg);
    }

    .media-list-container {
      margin: auto;
      width: 800px;
      padding: 0;
      user-select: none;
      overflow: hidden;

      .media-list {
        padding: 0;
        display: flex;
        transition: transform 500ms ease-in-out;
  
        li {
          list-style-type: none;
          margin-right: 50px;
          cursor: pointer;
    
          img {
            width: 750px;
            height: 422px;
          }
        }
      }
    }
  }

  &-dots {
    display: flex;
    justify-content: space-evenly;
    width: 190px;
    margin: auto;
    user-select: none;
    line-height: normal;
  
    .dot {
      margin: auto 0;
      cursor: pointer;
      opacity: 25%;
      font-size: 45px;
      height: 50px;
      transition: opacity 500ms ease-in-out;
    }
  
    .active {
      opacity: 100%;
    }
  }
}
