.list-tile {
  display: flex;
  margin-bottom: 20px;

  .lt-logo {
    width: 90px;
    height: 90px;

    img {
      width: inherit;
    }
  }

  .lt-content {
    flex:auto;
    margin-left: 10px;
    
    .lt-date {
      float: right;
    }

    .lt-title {
      font-weight: bold;
      font-size: large;
    }
  
    .lt-subtitle {
      filter: brightness(78%);
    }

    .lt-description {
      white-space: pre-line;
    }
  }
}