<div class="drag-and-score app-project-page">
  <app-das-demo #dasDemo></app-das-demo>
  <div class="logo">
    <img src="assets/images/drag-and-score/logo.png">
  </div>
  <div class="title">
    <span>{{title}}</span>
  </div>
  <div class="buttons">
    <a class="app-btn download-btn" [href]="playStoreLink" target="_blank">
      <div class="icon" [ngStyle]="downloadIconStyle"></div>
      {{i18nKeys.download | i18n: i18nSourcePath}}
    </a> 
    <button class="app-btn" (click)="dasDemo.open()">
      {{i18nKeys.playOnline | i18n: i18nSourcePath}}
    </button>
  </div>
  <div class="description">
    <app-group [title]="i18nKeys.description.title | i18n: descriptioni18nPath">
      <ng-template>
        <pre>{{i18nKeys.description.content | i18n: descriptioni18nPath}}</pre>
      </ng-template>
    </app-group>
  </div>
  <div class="technologies">
    <app-chips 
      [i18nSourcePath]="technologiesi18nPath"
      [title]="i18nKeys.technologies.title  | i18n: technologiesi18nPath" 
      [groups]="technologies"
    ></app-chips>
  </div>
  <app-gallery [mediaList]="mediaList"></app-gallery>
</div>