<div class="select">
  <div *ngIf="selectedOption" class="selected-option clickable" (click)="selectClick()">
    <img [src]="selectedOption.iconPath">
    <label>{{selectedOption.label | i18n: i18nSourcePath}}</label>
    <div class="arrow" 
      [ngStyle]="arrowIconStyle"
      [ngClass]="arrowIconClasses">
    </div>
  </div>
  <div class="options" [ngClass]="optionsClasses">
    <div 
      class="option-wrapper"
      [ngClass]="optionWrapperClasses(option)"
      (click)="optionClick(option)"
      *ngFor="let option of options"
    >
      <div class="option clickable">
        <img [src]="option.iconPath">
        {{option.label | i18n: i18nSourcePath}}
      </div>
    </div>
  </div>
</div>