<!-- TODO: Consider moving some divs into seperate components -->
<!-- TODO: Need to support mobile view -->
<!-- TODO: Should use color pallete on this page the same as in the app -->

<div>
    Need to add fancy background
</div>

<div>
    <div>
        <div>
            <img src="assets/images/testImg.png">
        </div>
        <div class="center">OpenAPI Mobile Client</div>
    </div>
    <div>
        <matButton></matButton>
        <input type="button" value="KEK">
        Get button (could be several for each platform currently there will be only for android)
    </div>
</div>
<div>
    Descrition section
</div>
<div>
    Video demonstrating how it works
</div>
<div>
    Images section
</div>

<div>
    Section with more details
    There could be added necessary info for Google Play Developer Console
</div>

<div>
    Probably add some footer mmentioning copyrights and etc
    Could add some additional ways to connect to me
</div>