<div class="app-mb-20">
  <div>
    <div class="app-center">
      <img class="logo app-w-200 app-h-80" src="assets/images/logo.svg">
    </div>
      <h1 class="app-center">OpenAPI Mobile Client</h1>
  </div>
  <div class="app-center">
      <button class="app-w-200 app-h-80"><h2>{{i18nKeys.download | i18n: pageName}}</h2></button>
  </div>
  <div class="app-center">
    <button class="app-w-200 app-h-80"><h2>English</h2></button>
    <button class="app-w-200 app-h-80"><h2>Spain</h2></button>
    <button class="app-w-200 app-h-80"><h2>Ukrainian</h2></button>
  </div>
</div>

  <div class="description">
    <div>
      <div>{{i18nKeys.descriptionTitle | i18n: pageName}}</div>
    </div>
    <div>
      <p>{{i18nKeys.description | i18n: pageName}}</p>
    </div>
  </div>
<div>
    Video demonstrating how it works
</div>
<div>
    Images section
</div>
<div>
    Core features should be mentioned in some table or something
</div>
<div>
    Section with more details
    There could be added necessary info for Google Play Developer Console
</div>

<div>
    Probably add some footer mmentioning copyrights and etc
    Could add some additional ways to connect to me
</div>