<!-- TODO: Consider moving some divs into seperate components -->
<!-- TODO: Need to support mobile view -->
<!-- TODO: Should use color pallete on this page the same as in the app -->

<div>
    Need to add fancy background
</div>

<mat-card>
    <div>
        <img src="assets/images/testImg.png">
        <h1 class="app-center">OpenAPI Mobile Client</h1>
    </div>
    <div class="app-center">
        <button  mat-raised-button>BUY THIS APP PLZ</button>
    </div>
    
</mat-card>
<div>
    Description
    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes
</div>
<div>
    Video demonstrating how it works
</div>
<div>
    Images section

    <!-- Probably need to remove this -->
    <ul class="mdc-image-list my-image-list">
        <li class="mdc-image-list__item">
          <div class="mdc-image-list__image-aspect-container">
            <img class="mdc-image-list__image" src="assets/images/testImg.png">
          </div>
          <div class="mdc-image-list__supporting">
            <span class="mdc-image-list__label">Text label</span>
          </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
              <img class="mdc-image-list__image" src="assets/images/testImg.png">
            </div>
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">Text label</span>
            </div>
          </li>
          <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
              <img class="mdc-image-list__image" src="assets/images/testImg.png">
            </div>
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">Text label</span>
            </div>
          </li>
          <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
              <img class="mdc-image-list__image" src="assets/images/testImg.png">
            </div>
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">Text label</span>
            </div>
          </li>
          <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
              <img class="mdc-image-list__image" src="assets/images/testImg.png">
            </div>
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">Text label</span>
            </div>
          </li>
          <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
              <img class="mdc-image-list__image" src="assets/images/testImg.png">
            </div>
            <div class="mdc-image-list__supporting">
              <span class="mdc-image-list__label">Text label</span>
            </div>
          </li>
      </ul>
</div>
<div>
    Core features should be mentioned in some table or something
</div>
<div>
    Section with more details
    There could be added necessary info for Google Play Developer Console
</div>

<div>
    Probably add some footer mmentioning copyrights and etc
    Could add some additional ways to connect to me
</div>