<div class="menu" *ngIf="isMenuVisible">
  <app-settings #settings></app-settings>

  <div class="menu-header">
    <img class="menu-logo" src="assets/images/menu/avatar.jpg">
  </div>
  <div class="menu-items">
    <ng-container *ngFor="let item of menu">
        <div 
            class="menu-item" [routerLink]="item.pathname"
            [ngClass]="isActivePage(item) ? 'menu-item-active' : ''">
            <img class="menu-item-img" [src]="getMenuItemLogoSrc(item)">
            <span class="menu-item-title">{{item.titleI18nKey | i18n: i18nMenuPath}}</span>
        </div>
    </ng-container>
    <div class="footer-parent">
      <div class="menu-item app-mb-0" (click)="settings.open()">
        <img class="menu-item-img" src="assets/images/menu/settings.svg">
        <span class="menu-item-title">{{i18nKeys.settings.title | i18n: i18nSettingsPath}}</span>
      </div>
      <div class="footer">Markiian Karpa</div>
    </div>
  </div>
</div>