.menu {
  width: 220px;
  height: 100%;
  display: block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--app-primary);
  position: relative;

  &-header {
    position: relative;
    height: 200px;

    .menu-close {
      position: absolute;
      width: 35px;
      height: 35px;
      right: 0px;
      top: 0px;
      cursor: pointer;
    }
    .menu-logo {
      height: 100%;
      border-radius: 50%;
    }
  }

  .menu-items {
    padding: 14px 0px 7px 0px;

    .menu-item {
      padding: 5px;
      display: flex;
      width: 100%;
      height: 50px;
      white-space: normal;
      line-height: 1;
      margin-bottom: 5px;
      background-color: var(--app-menu-item);
      border-radius: 0px;
      cursor: pointer;

      &-img {
        width: 35px;
        height: 35px
      }

      &-title {
        margin: auto;
        width: 100%;
      }

      &:hover:not(.menu-item-active) {
        filter: brightness(78%);
      }
    }

    .menu-item-active {
      background-color: var(--app-menu-item-active);
    }
    .btn:focus {
      box-shadow: none;
    }
  }

  .footer-parent {
    position: absolute;
    bottom: 0;
    width: 100%;

    .languages {
      height: 26px;
      display: flex;
      justify-content: center;
      padding-bottom: 8px;
  
      .language {
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        filter: brightness(35%);

        &:hover:not(.language-active) {
          filter: brightness(78%);
        }
      }
  
      .language-active {
        filter: brightness(100%);
      }
    }
  
    .themes {
      height: 50px;
      padding-bottom: 8px;
      display: flex;
      justify-content: center;
  
      .theme {
        height: 100%; 
        display: block;
        opacity: 30%;
        cursor: pointer;
        margin-right: 5px;

        &:hover:not(.theme-active) {
          opacity: 70%;
        }
      }
  
      .theme-active {
        opacity: 100%;
      }
    }
  
    .footer {
      border-top: 1px solid var(--app-background);
      padding-top: 10px;
      padding-bottom: 5px;
      color: var(--app-light-text);
    }
  }
}