<div class="menu" *ngIf="isMenuVisible">
  <div class="menu-header">
    <img class="menu-logo" src="assets/images/menu/avatar.jpg">
  </div>
  <div class="menu-items">
    <ng-container *ngFor="let item of menu">
        <div 
            class="menu-item" [routerLink]="item.pathname"
            [ngClass]="isActivePage(item) ? 'menu-item-active' : ''">
            <img class="menu-item-img" [src]="getMenuItemLogoSrc(item)">
            <span class="menu-item-title">{{item.title}}</span>
        </div>
    </ng-container>
  </div>
  <div class="footer-parent">
    <div class="themes">
      <ng-container *ngFor="let theme of themes">
        <img 
          [src]="theme.src" 
          class="theme"
          [ngClass]="theme.active ? 'theme-active' : ''"
          (click)="changeTheme(theme.type)"
        >
      </ng-container>
    </div>
    <div class="languages">
      <ng-container *ngFor="let language of languages">
        <img 
          class="language"
          [ngClass]="language.active ? 'language-active' : ''"
          src="assets/images/languages/{{language.fileName}}"
          (click)="changeLanguage(language)">
      </ng-container>
    </div>
    <div class="footer">Markiian Karpa</div>
  </div>
</div>