@import 'mixins';

.menu {
  width: 220px;
  height: 100%;
  display: block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--app-primary);
  position: relative;

  &-header {
    position: relative;
    height: 200px;

    .menu-close {
      position: absolute;
      width: 35px;
      height: 35px;
      right: 0px;
      top: 0px;
      cursor: pointer;
    }
    .menu-logo {
      height: 100%;
      border-radius: 50%;
    }
  }

  .menu-items {
    padding: 14px 0px 7px 0px;

    .menu-item {
      @include clickable(".menu-item-active");
      
      padding: 5px 5px 5px 12px;
      display: flex;
      width: 100%;
      height: 50px;
      white-space: normal;
      line-height: 1;
      margin-bottom: 5px;
      background-color: var(--app-menu-item);
      border-radius: 0px;

      &-img {
        width: 35px;
        height: 35px;
        margin: auto;
      }

      &-title {
        margin: auto;
        width: 100%;
      }
    }

    .menu-item-active {
      background-color: var(--app-menu-item-active);
    }
    .btn:focus {
      box-shadow: none;
    }
  }

  .footer-parent {
    position: absolute;
    bottom: 0;
    width: 100%;

    .references {
      padding: 8px;

      .linkedin {
        margin-right: 15px;
      }
    }

    .footer {
      padding-top: 10px;
      padding-bottom: 5px;
      color: var(--app-light-text);
    }
  }
}