// TODO: Refactor colors
.menu-opener {
  position: absolute;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menu {
  width: 150px;
  height: 100%;
  display: block;
  text-align: center;
  background-color: rgb(64, 64, 64);

  &-header {
    position: relative;
    height: 15%;

    .menu-close {
      position: absolute;
      width: 35px;
      height: 35px;
      right: 0px;
      top: 0px;
      cursor: pointer;
    }
    .menu-logo {
      height: 100%;
    }
  }

  .menu-items {
    height: 74%;
    padding: 14px 0px 7px 0px;

    .menu-item {
      padding: 5px;
      display: flex;
      width: 100%;
      height: 50px;
      white-space: normal;
      line-height: 1;
      margin-bottom: 5px;
      background-color: rgb(150,150,150);
      border-radius: 0px;

      &-img {
        width: 35px;
        height: 35px
      }

      &-title {
        margin: auto;
        width: 100%;
      }
    }
    .menu-item-active {
      background-color: rgb(96,96,96);
    }
    .btn:focus {
      box-shadow: none;
    }
  }

  .languages {
    height: 5%;

    .language {
      height: 18px;
      width: 36px;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      opacity:35%;
    }

    .language-active {
      opacity: 100%;
    }
  }

  .footer {
    padding-top: 7px;
    height: 6%;
    background-color: rgb(25,25,25);
  }
}