.das-demo {
  .close {
    user-select: none;
  }

  .unity-fullscreen {
    background-color: var(--app-text);
    width: 22px;
    height:100%;
    float: right;
  }

  .webgl-content {
    position: relative; 
    transform: none; 
    left: 0; 
    right: 0;
  
    .unity-container {
      width: 960px;
      height: 540px;
    }

    .footer {
      margin: 0;
      height: 50px;
    }
  }
}
