<div class="about-me">
  <div>Overview</div>
  <app-chips 
    [i18nSourcePath]="skillsPageName"
    [title]="'title' | i18n: skillsPageName" 
    [groups]="skills"
  ></app-chips>
  <app-list-tiles
    [title]="'title' | i18n: workExperiencesPageName"
    [i18nSourcePath]="workExperiencesPageName"
    [listTiles]="workExperiences"
  ></app-list-tiles>
  <app-list-tiles
    [title]="'title' | i18n: educationsPageName"
    [i18nSourcePath]="educationsPageName"
    [listTiles]="educations"
    [showAllDuration]="false"
    [showTileDuration]="false"
  ></app-list-tiles>
</div>
